<mat-tab-group mat-stretch-tabs>
    <mat-tab label="Boot Camp">
        <div class="bootcamp-wrapper">
            <div>
                <mat-form-field>
                    <mat-label>Number 1</mat-label>
                    <input matInput type=number>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Number 2</mat-label>
                    <input matInput type=number>
                </mat-form-field>
            </div>
            <div style="display: grid;">
                <button mat-raised-button color="primary">Submit</button>
                <h2>Result!</h2>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Tic Tac Toe" [disabled]=true>
        <app-tic-tac-toe></app-tic-tac-toe>
    </mat-tab>
    <mat-tab label="Angular Info" >
        <app-angular-setup></app-angular-setup>
    </mat-tab>
</mat-tab-group>